@import "../../globals.scss";

.container {
  display: flex;
  padding: 0 10%;
  justify-content: center;
  margin-bottom: 100px;

  @media (max-width: $media-max-width) {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }

  & > .player {
    width: 500px;
    height: auto;
  }

  & > .box {
    margin-top: 170px;
    margin-left: -50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #eee2a5;
    border-radius: 25px;
    box-shadow: inset 0 0 15px 4px #ff9432,
      inset 0 -4px 4px 0 rgba(0, 0, 0, 0.5);
    padding: 25px;
    width: 500px;
    height: fit-content;

    @media (max-width: $media-max-width) {
      margin: 0;
      width: 100%;
    }

    & > .title {
      font-size: 30px;
      font-weight: 700;

      @media (max-width: $media-max-width) {
        text-align: center;
        font-size: 25px;
      }
    }

    & > .box_container {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & > .address_container {
        display: flex;
        align-items: center;
        gap: 15px;

        @media (width <=1100px) {
          flex-direction: column;
          align-items: start;
        }

        & > .address {
          padding: 7.5px 12.5px;
          background-color: #eee2a5;
          border: 1.33px solid rgba(0, 0, 0, 0.25);
          border-radius: 30px;
          box-shadow: inset 0 0 15px 4px #ff9432,
            inset 0 -4px 4px 0 rgba(0, 0, 0, 0.5);
          word-break: break-all;
          text-decoration: none;
          color: #000;
        }

        & > .copy_button {
          background-color: #218628;
          border: 2px solid #000;
          border-radius: 25px;
          color: #fff;
          padding: 5px 10px;
        }
      }
    }
  }
}
